.sectionSearch{
  position: relative;
  padding-left: 36px;
  padding-right: 36px;
}
.inputSearch {
  font-family: "Montserrat", sans-serif;
  border-radius: 40px;
  border: none;
  width: 100%;
  outline: none;
  background-color: var(--primary-color);
  padding: 12px;
  padding-left: 60px;
  font-size: 3rem;
  color: var(--secondary-color);
}
.inputSearch::placeholder {
  color: var(--secondary-color);
  opacity: 0.5;
}
.iconSearch{
  position: absolute;
  top: 0;
  left: 32px;
  height: 100%;
  padding: 16px;
  cursor: text;
  opacity: .5;
}