.iconAdd {
  width: calc(100vw - 72px);
  max-width: calc(1200px - 72px);
  min-width: 168px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: calc(100vh - 210px);
}
.circle {
  cursor: pointer;
  position: absolute;
  width: clamp(80px, 20vw, 120px);
  aspect-ratio: 1;
  background-color: var(--primary-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.circle1 {
  animation: pulsar 1s linear infinite;
}
.circle2 {
  animation: pulsar 1s linear infinite;
}
@keyframes pulsar {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.4);
    opacity: 0;
  }
}
.plus {
  z-index: -10;
  width: 12%;
  background-color: var(--terciary-color);
  opacity: 2;
  height: 50%;
}
.plus::after {

  content: '';
  display: block;
  width: 100%;
  background-color: var(--terciary-color);
  height: 100%;
  transform: rotate(90deg);
}
.iconNotSearch{
  width: 25%;
  height: 25%;
  min-width: 180px;
}