
.nota{
  background-color: var(--secondary-color);
  position:absolute;
  max-width: calc(1200px - 72px);
  width: calc(100% - 72px);
  border-radius: 20px;
  margin-left: 56px;
  margin-right: 56px;
  padding: 2rem;
  animation: openModalTodo .25s ease-out both;
}
@keyframes openModalTodo {
  0% {
    height: 0;
  }
  100% {
    height: calc(100vh - 72px);
  }
}
.header-notas {
  display: flex;
  justify-content: center;
}

.arrowBack {
  cursor: pointer;
  width: 36px;
  height: auto;
}
.inputTitle {
  width: 100%;
  background-color: transparent;
  margin-left: 2rem;
  font-size: 4rem;
  font-family: 'Montserrat', sans-serif;
  border: none;
  color: var(--primary-color) ;
  outline: none;
  font-weight: 400;
}
.inputTitle::placeholder {
  color: var(--primary-color);
  opacity: .5;
}
.headerDate {
  margin-left: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: var(--primary-color);
  text-wrap: nowrap;
}
.nota-textarea {
  padding-top: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  background-color: transparent;
  resize: none;
  width: 100%;
  height: calc(100% - 49px);
  border: none;
  outline: none;
  color: var(--primary-color);
}
.nota-textarea::placeholder {
  color: var(--primary-color);
  opacity: .5;
}
.iconSave {
  cursor: pointer;
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  width: 5rem ;
}