
.principal-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  min-width: 240px;
  min-height: calc(460px + 64px);
  position: relative;;
}
.header {
  width: 100%;
  max-width: 1200px;
}
.todos {
  padding-top: 36px;
  height: calc(100vh - 164px);
  min-height: 360px;
}