
.principal-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 32px;
  min-width: 240px;
  min-height: calc(460px + 64px);
  position: relative;;
}
.header {
  width: 100%;
  max-width: 1200px;
}
.todos {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  width: 100%;
  max-width: 1200px;
  padding-top: 32px;
  padding-left: 36px;
  padding-right: 36px;
  max-height: calc(100vh - 200px );
}
.todosWithOpenCategory {
  animation: openCategory .25s ease-in both;
}
@keyframes openCategory {
  0% {
    padding-top: 32px;
  }
  100% {
    padding-top: 84px;
  }
}
.todosWithCloseCategory {
  animation: closeCategory .25s ease-in both;
}
@keyframes closeCategory {
  0% {
    padding-top: 84px;
  }
  100% {
    padding-top: 32px;
  }
}
.articleTodo {
  position: relative;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 140px;
  background-color: var(--primary-color);
  padding: 1rem;
  border-radius: 1rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: 200;
  color: var(--secondary-color);
}
.articleTitle {
  font-size: 3rem;
  font-weight: 400;
}
.articleFooter{
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.iconDelete {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 1rem;
  right: 1rem;
}
.articleNewTodo{
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px dashed var(--primary-color);
  border-radius: 1rem;
  height: 140px;
}